*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf
.vs/MeshReader/v16/Browse.VC.opendb
.vs/MeshReader/v16/Browse.VC.db
.vs/MeshReader/v16/.suo
.vs/MeshReader/v16/Browse.VC.db
.vs/MeshReader/v16/ipch/AutoPCH/2788d1a75c0afbb4/MAIN.ipch
